<% block('title', 'Details User' ); %>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>User</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/admin/users">Users</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Details</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>User Details <small></small></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">First Name</label>
                                    <div class="col-sm-10 col-form-label">
                                        <%= userRecord.name %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10 col-form-label">
                                        <%= userRecord.email %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Phone Number</label>
                                    <div class="col-sm-10 col-form-label">
                                        <% if (userRecord.phoneNo) { %>
                                            <%= userRecord.countryCode %>
                                                <%= userRecord.phoneNo %>
                                                    <% } else { %>
                                                        Not Provided
                                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Liked Musics</label>
                                    <div class="col-sm-10 col-form-label">
                                        <%= userRecord.likeCount %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Following</label>
                                    <div class="col-sm-10 col-form-label">
                                        <%= userRecord.followCount %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Buy Music</label>
                                    <div class="col-sm-10 col-form-label">
                                        <%= userRecord.findBuyMusicCount %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Profile Picture</label>
                                    <div class="col-sm-10 col-form-label">
                                        <div style="height: 150px; width: 150px;">
                                            <img src="<%= userRecord.profileImage%>" style="height: 100%;width: 100%;"
                                                onerror="this.src='https://placehold.co/150x150?text=Profile&font=roboto'" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Music</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <!-- <a href="/admin/music/create"><i class="fa fa-plus"></i> </a> -->
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table id="userDatatable" class="table table-striped table-bordered table-hover"
                                style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Artist Name</th>
                                        <th>Genre Type</th>
                                        <th>Total Likes</th>
                                        <th>Total Comments</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var userTable = $("#userDatatable").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                ajax: "/admin/artist/music/index/<%= userRecord.id %>",
                columns: [
                    {
                        data: "title",
                        name: "title",
                        searchable: true,
                        defaultContent: "<i>Not Set</i>",
                    },
                    {
                        data: "userId.name",
                        name: "Artist Name",
                        sortable: false,
                        searchable: false,
                        defaultContent: "<i>Not Set</i>",
                    },
                    {
                        data: "musicTypeId.genreName",
                        name: "Genre Type",
                        sortable: false,
                        searchable: false,
                        defaultContent: "<i>Not Set</i>",
                    },
                    {
                        data: "likeCount",
                        name: "Total Likes",
                        sortable: false,
                        searchable: false,
                        defaultContent: "<i>Not Set</i>",
                    },
                    {
                        data: "commentCount",
                        name: "Total Comments",
                        sortable: false,
                        searchable: false,
                        defaultContent: "<i>Not Set</i>",
                    },
                    {
                        data: "isDeleted",
                        name: "Deleted",
                        sortable: false,
                        searchable: false,
                        render: function (data) {
                            return data ? "Deleted" : "-";
                        },
                    },
                    {
                        data: null,
                        name: "Action",
                        sortable: false,
                        searchable: false,
                        render: function (data) {
                            let actions = `
                                <a href='/admin/music/show/${data.id}' class='btn btn-primary btn-sm'>
                                    <i class='fa fa-eye'></i>
                                </a>
                            `;
                            if (!data.isDeleted) {
                                actions += `
                                <a href='/admin/music/edit/${data.id}' class='btn btn-info btn-sm'>
                                    <i class='fa fa-edit'></i>
                                </a>
                            `;
                            }
                            return actions;
                        },
                    },
                ],
            });

            $(document).on("click", ".music_type_remove", function () {
                var id = $(this).attr("id");
                var url = "/admin/music/" + id;
                deleteRecordByAjax(url, "music", userTable);
            });
        });
    </script>